extends layout

block content
	.main-content
		.home
			.home-content.box-a one
			.home-content.box-b
				.home-container
					img.myPhoto(src='images/myPhoto.jpg' alt="My Photos")
			.home-content.box-c three
			.home-content.box-d four
			.home-content.box-e five
			.home-content.box-f six
			.home-content.box-f seven



