extends layout

block content
	.main-content
		.home
			.home-content.medium one
			.home-content.large two
			.home-content.medium three
			.home-content.small four
			.home-content.tall five
			.home-content.wide six



