extends layout

include mixins/_loginForm
include mixins/_forgotForm

block content
	.inner
		a.auth(href='/auth/facebook')
			i.fa.fa-facebook
		a.auth(href="#")
			i.fa.fa-twitter
		a.auth(href="#")
			i.fa.fa-google
	.inner
		+loginForm()
		+forgotForm()